/* место для вашего кода */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
    font-size: 18px;
    text-underline-offset: 3px;
}

.header__links-list ul {
    display: flex;
    justify-content: space-between;
    list-style: circle;
    gap: 32px;
    padding-right: 36px;
}

.header__links-list-item {
    list-style: circle;
}

.active {
    text-decoration: none;
}

.li_active {
    list-style: none;
}

.logo img {
    width: 149px;
    height: 105px;
}


/* Section cover */
.cover {
    width: 100%;
    max-width: 1100px;
    min-height: 757px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cover {
    color: white;
    text-transform: uppercase;
}

.cover__title h1 {
    padding: 180px 20px 110px 50px;
    font-size: 100px;
    letter-spacing: 30px;
    position: relative;
    z-index: 2;
}

.cover__title span {
    display: block;

}
.aligned-text_left{
    text-align: left;
}
.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 104px;
    padding: 18px 50px;
    position: relative;
    z-index: 2;
}

.description p {
    font-size: 22px;
    word-spacing: 19px;
}

.bet-button {
    width: 256px;
    height: 51px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 22px;
    text-transform: uppercase;
    border-color: white;
}

.bet-button:hover {
    color: black;
}

/* Section Lots */
.lots h2 {
    padding-left: 64px;
    padding-top: 180px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots h3 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
}

.card__title {
    text-decoration: underline;
}

.card-link {
    font-size: 20px;
    text-decoration: none;
}

.lots__card-list {
    color: white;
}

.lots__card-list {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lots__look-more-link {
    padding-left: 64px;
    font-size: 20px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
}

.card h3,
.card p {
    position: relative;
    z-index: 2;
}

.card {
    padding: 46px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    min-height: 596px;
    position: relative;
    display: flex;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Section about */
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    justify-content: center;
    padding: 155px 50px;
}

.about__column {
    display: flex;
    align-items: left;
    gap: 100px;
    margin-top: 110px;
    flex-direction: column;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.about__logo img {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Footer */
.footer__social-list img {
    width: 48px;
    height: 48px;
}

.footer__social-list {
    width: 48px;
    display: flex;
    gap: 48px;
}

.address {
    width: 264px;
    font-size: 18px;
    font-family: "Raleway", serif;
    justify-self: end;
    font-style: normal;
    line-height: 24.3px;
}

.footer__menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-left: 164px;
    padding-right: 182px;
    list-style: none;
}

.footer {
    display: flex;
    padding: 25px 50px;
    text-underline-offset: 3px;
}

.footer__menu-link_active {
    text-decoration: none;
}